.oddnumber {
    background-color: rgb(214, 155, 155);
    font-family: "Verdana", "DejaVu Sans", sans-serif;

}

#second {

    color: rgb(13, 13, 191);
    font-size: 36px;
}

.big24 {

    font-size: 24px;
    
}

#fourth {

    background-color: rgb(165, 232, 165);
    font-weight: bold;

}